/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700');
@import url('http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300');

body {
	width: 100%;
	height: 100%;
  	font-family: 'Roboto Condensed', sans-serif;
	background-color: #fff;
	color:#535A64;
	font-size: 16px;
	font-weight:100;
}

html {
    width: 100%;
    height: 100%;
}

*{
	padding: 0;
	margin: 0;
}

a{

}

h1{
	color: #00a2a5;
    font-size: 18px;
    font-weight: normal;
}

p{
	padding-top:0;
}


label{
    color: #aaaeb9;
    font-weight: 600;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

iframe{
	border:0;
}


.clear{
	clear: both;
}

.last{
	margin-right: 0;
}

.texto_ingresado {
}

.texto_ingresado textarea{
    padding: 5px;
    width:100%;
    border:0;
    height:100px;

    font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    padding: 3px;
}

.l{
	padding-left: 0;
}

.r{
	padding-right: 0;
}

table{
	border-color:#ccc;
	margin-bottom: 5px;
}

table th,
table td{
	padding:5px 3px;
	border-color:#ccc;
}

.usuario table th,
.usuario table td{
	padding:0 3px;
	border-color:#ccc;
}

table th{
	background: #f7f7f7;
    padding: 10px 3px;

    color: #333;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

table .indicador{
	text-align: center;
}

table .indicador .glyphicon{
	float: none;
    margin: 0 auto;
    top: 0;
}

table .glyphicon {
    border-radius: 3px;
    color: #648d93;
    float: right;
    margin: -2px -1px 0 0;
    padding: 6px;
}

table .btn .glyphicon {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: inherit;
    float: right;
    margin: 0;
    padding: 0;
}

table .btn{
	float: none;
    margin: 0 auto;
    display: block;
}

.lista_tareas tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}


/******************************************* PANEL *******************************************/

.panel {
    margin-bottom: 0;
    color:#535A64;
    background: #f1f1f1;
    border-color:none;
    box-shadow: none;
    border-radius: 0;
}

.panel .panel-body .separator{
	border: #ccc solid;
	border-width: 0 1px;
	min-height:140px;
}

.panel-body .panel{
	border:0;
	background: none;
}

.panel-head{
	background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    padding: 10px 15px;
    position:relative;
}

.panel-head .btn{
	height: 100%;
    padding: 6px 15px;
    position: absolute;
    right: 0;
    top: 0;

    border:red solid 1px;
}

.panel-default > .panel-heading{
	background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 6px #939393;
    margin: 0 0 5px;
}

.panel-body .panel-heading{
	background-color: rgba(0, 0, 0, 0.01);
	box-shadow: none;
	margin:0;
}


.panel-default > .panel-heading .btn{
	position: absolute;
	top:0;
	right:0;

	height:100%;
}

.panel-default > .panel-heading,
.panel-default > .panel-heading a{
	color: #c4c5c9;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 1px 15px;
    text-transform: uppercase;
}

.panel-body .panel-heading,
.panel-body .panel-heading a{
	color:#7e899d;
	text-shadow: 2px 0px 2px rgba(245, 245, 245, 1);
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.panel-default > .panel-heading input{
	position: absolute;
    right: 15px;
    top: 9px;

}

.panel-body .panel-heading .glyphicon{
	color: #c4c5c9;
	padding:0 10px 0 0;
}

.panel-title {
    font-size: 18px;
}


.panel-default > .panel-heading a{
    display: block;
    width: 100%;
    padding:0;
}

.panel-default > .panel-heading a:focus{
    border:0;
    text-decoration: none;
}

.panel-default > .panel-heading a:hover{
    text-decoration: none;
}

.panel-default > .panel-heading{
	position: relative;
	height: auto;
    padding: 10px 15px;
}

.panel-default .panel .panel-heading{
	height: inherit;
	padding: 10px 15px 10px 10px;
	border-left:transparent solid 10px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.panel-default .panel .panel-heading:hover{
	background: #fff;
	border-left:#ccc solid 10px;
}

.panel-heading input{
	border:red solid 1px;
	float:right;
}

.panel-body{
	padding: 0;
}

.panel-body .panel-body{
	padding: 5px 15px;
	background: #f9f9f9;
	border-bottom: #ddd solid 1px;
}

.panel-body table{
	width: 100%;
}

.panel-body table td{
}

.panel-body table td strong{
	color: #648D93;
    font-weight: 400;
    font-size: 16px;
    font-family: "Oswald",sans-serif;
}

.no-border{
	border-radius:0;
}

.no-bg{
	background: none;
	border:0;
}

.no-padding{
	padding:0;
}

/*************************************** BOTONES ***************************************/
.botones{
	text-align:right;
}

.btn{
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 12px;
    font-weight: bold;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	

}

.lista_tareas .btn{
	min-width:65px;
}

.btn-default {
    background-color: #2a9fd6;
    border-color: #2a9fd6;
    color: #efefef;
}

.btn-primary {
	background-color: #2a9fd6;
	border-color: #2a9fd6;
	color: #efefef;
    border-left: 1px solid #3276b1;
    border-right: 1px solid #3276b1;
    margin-left:0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #3276b1;
  border-color: #3276b1;
}
.grupo_botones{
	padding:0;
}

.btn-group{
	float:right;
}

.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {
    margin-left: 0;
}

/************************************ botones********************************/

.botones{
}

.botones .btn{
	margin:0 0 0 5px;
}

.destacar{
	padding:10px 15px;
}

.destacar .texto_ingresado{
}

.box_destacar{
	padding:10px 15px;
	background: #648d93;
	color:#FFF;
    font-size: 18px;
    font-weight: 100;
    font-family: "Oswald",sans-serif;
}

.box_destacar strong{
	color:#FFF;
	font-weight: 400;
}

.box_destacar .glyphicon.pull-right{
	cursor: pointer;
}

/****************************************/
.list-group-item{
	background: none;
}

a.list-group-item {
    color: #555;
    font-weight: bold;
}

.tareas{
}

.tareas .highlight{
	border-radius: 0;
	padding:0;
	border:0;
}

.tareas .highlight span{
	display:none;
}

.tareas .highlight .dato td{
	width:33%;
}

.tareas .highlight .dato td input{
	margin:2px;
}

/****************************************/
.nav-tabs li.active a:hover,
.nav-tabs li.active a{



}

.nav-tabs > li a{
	background: #eee;
	color: #666;
    font-family: "Oswald",sans-serif;
    font-size: 18px;

    color: #c4c5c9;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
   
}

.espacio{
	display: inline-block;
	width:20%;
}

.box_buscador input{
	height:32px;
}

.dato{
	font-weight: 100;
}

textarea.form-control{
	font-family: "Courier New",Courier,monospace;
    font-size: 14px;
    padding: 3px;
}

.form-control{
	color:#111;
	height:100%!important;
	width:100%!important;
	font-size:16px;
}

.lista_tareas .panel-body .panel-body {
    background: none;
    border-bottom: 0;
    padding: 5px 15px;
}

select.form-control:focus{
}


.diagnostico .row .btn{
	margin:5px 0 0;
}

.panel-heading h4 a.test.collapsed{
	border-color:red;
	border-width:0 0 0 10px;
	border-style: transparent;
}

.panel-heading h4 a.test{
	border-color:red;
	border-width:0 0 0 10px;
	border-style: transparent;
}